
body{
    font-family: 'Hanken Grotesk', sans-serif;
    position: relative;
    background-color: hsl(0, 0%, 100%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.overall{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    width: 580px;
    height: fit-content;
    border-radius: 20px;
}

.content-1{
    background-color:   hsl(252, 86%, 37%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-inline: 2rem;
    border-radius: 20px;
    height: 390px;
   
   
}
.score{
    border-radius:50%;
    background-color: hsl(241, 78%, 28%);
    height: 8rem ;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
   margin-left: 2.5rem;
   align-items: center;
}
.score-inner {
    position: relative;
   
}
.int{
    font-size: 2rem;
}
.score-inner p:nth-child(2) {
    position:relative;
    top: -30px; 
}
h4{
    font-size: 25px;
    font-weight: bold;
}
.content-1  p:nth-child(1){
    margin-top: 1rem;
}

.content-2{
    height: 390px;
    width: 50%; 
    box-shadow: 5px 5px 5px lightblue;
    border-radius: 0 15px 15px 0;
}

h3{
    padding-left: px;
    font-weight: bold;
    color: hsl(224, 31%, 22%);
}

.div1{
    margin-bottom: 1rem;
    margin-left: 1px;
    margin-right: 19px;
    border-radius: 8px;
    background-color: hsl(0, 62%, 71%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Reaction{
    color: hsl(0, 100%, 67%) ;
    font-weight: bold;
}
.div1 p:nth-child(2){
    padding-top: 8px;
}

.div2{
    margin-bottom: 1rem;
    margin-left: 1px;
    margin-right: 19px;
    border-radius: 8px;
    background-color:hsl(39, 72%, 70%) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Memory{
    color:  hsl(39, 100%, 56%);
}
.div3{
    margin-top: 1rem;
    margin-left: 1px;
    margin-right: 19px;
    border-radius: 8px;
    background-color: hsl(166, 71%, 75%) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Verbal{
    color: hsl(166, 100%, 37%);
}
.div4{
    margin-top: 1rem;
    margin-left: 1px;
    margin-right: 16px;
    border-radius: 8px;
    background-color: hsl(234, 56%, 69%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Visual{
    color:hsl(234, 85%, 45%) ;
}
.btn{
    margin-top: 15px;
    margin-left: 8%;
    width:80% ;
    height:40px ;
    background: hsl(234, 85%, 45%) ;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .overall{
        bottom: 5%;
        position: relative;
        display: block;
        margin-left: 3rem;  
          
    }
    .content-1{
        height: 45vh;
        width: 65vw;
}
.content-1  p:nth-child(1){
    padding-top: 3rem;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15%;
}
    
.score{
   margin-left: 6.5rem;
   height: 40%;
   width: 30vw;
 
}
.content-2{
    margin-top: 5vh;
    padding-top: 5%;
    height:40vh;
     width: 75vw; 
     box-shadow: 15px 5px 5px 5px lightblue;
}
.btn{
    height:15% ;
    font-weight: bold;
    font-size: 30px;
}
}